@font-face {
  font-family: 'iconfont';  /* Project id 3208326 */
  src: url('//at.alicdn.com/t/font_3208326_lujyetu38nh.woff2?t=1646132266468') format('woff2'),
       url('//at.alicdn.com/t/font_3208326_lujyetu38nh.woff?t=1646132266468') format('woff'),
       url('//at.alicdn.com/t/font_3208326_lujyetu38nh.ttf?t=1646132266468') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }